@font-face {
    font-family: happy_monkey;
    src: url("Happy_Monkey/HappyMonkey-Regular.ttf");
}

body {
    font-family: happy_monkey;
    text-align: center;
    background: #a2d2ff;
    color: white;
    text-shadow: 0px 0px 1px black;
}

#pel_img {
    width: 150px;
    /* height: 150px; */
    border-radius: 50%;
    border: 5px solid #EFB0C9;
}

#age, #date {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 7px 0 10px 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift_section {
    margin-top: 50px;
}

.gift_img {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-image: url("https://i.pinimg.com/originals/4b/0a/e3/4b0ae342581fc1d1113c7fa5abd83117.jpg");
    background-size: cover;
    border: 5px solid white;
    border-radius: 10px;
}

.bday_wish {
    margin-bottom: 10px;
}

.bday_gift {
    margin-top: 0;
}

#gif_happy:hover {
    background-image: url("https://media.giphy.com/media/hW6bdKZkFrSOpwfL6B/giphy.gif");
}

#gif_hot:hover {
    background-image: url("images/giphy3.gif");
}

#gif_genius:hover {
    background-image: url("https://media.giphy.com/media/ZuhmYnikJOPPq/giphy.gif")
}

#gif_badass:hover {
    background-image: url("https://media.giphy.com/media/3oEduVNNr7Oyb2hIU8/giphy.gif");
}

#gif_cheers { 
    height: 300px;
}

#gif_cheers:hover {
    background-image: url("https://media.giphy.com/media/BPJmthQ3YRwD6QqcVD/giphy.gif");
}

#footer {
    width: 400px;
    font-style: italic;
    margin: 30px auto;
}

a {
    color: white;
}