body {
    color: white;
    background-image: url("images/giphy2.gif");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;;
}

.apply_btn {
    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
}

.underline {
    border-bottom: 4px solid white;
}

#main_logo {
    width: 200px;
}