body {
    margin: 0;
    color: #278db0;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#hero {
    background-image: url("images/giphy2.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
}

.apply_btn {
    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
    font-weight: bold;
    /* could also do font-weight: 800 */
    color: #278db0;
}

.underline {
    border-bottom: 4px solid white;
}

#main_logo {
    width: 200px;
}